/* Знищення внутрішнього відступу, зовнішнього відступу і границь для всіх елементів */
*{
	padding: 0px;    /* Встановлення внутрішнього відступу на 0 */
    margin: 0px;     /* Встановлення зовнішнього відступу на 0 */
    border: 0px;     /* Встановлення границь на 0 */
}
header {
    height: 60px;                 /* Висота елементу 60px */
    font-style: italic;           /* Курсивний шрифт */
    font-size: 40px;              /* Розмір шрифту 40px */
    font-weight: 900;             /* Жирний шрифт (900 відповідає жирному) */
    text-align: center;           /* Вирівнювання тексту по центру */
	padding-top: 15px;             /* Відступ зверху 15px */
    font-variant: all-petite-caps; /* Встановлення стилю шрифта */
    width: 100%;                  /* Ширина 100% (розширюється на всю ширину батьківського контейнера) */
    background-color: #ABB6FE;    /* Колір фону - світло-сіний */
    color: gray;                  /* Колір тексту - сірий */
}
nav > ul {							/*що стилі будуть застосовані лише до тих <ul>-елементів, які безпосередньо знаходяться всередині елемента <nav> і не будуть застосовані до вкладених <ul>-елементів, які можуть бути всередині інших елементів у внутрішньому списку.*/
    display: flex;                /* Встановлення flex-контейнера для дітей (списку ul) */
	justify-content: space-between; /* Рівномірний розподіл простору між дітьми (елементами списку li) */
	align-content: center;        /* Вирівнювання по центру відносно перпендикулярної осі (вертикально) */
    flex-direction: row;          /* Встановлення горизонтального розташування дітей (списку ul) */
	list-style: none;             /* Відміна стандартного маркера списку */
}
.nav {
    margin: 10px;             /* Зовнішній відступ 10px по всім сторонам */
	font-size: 20px;          /* Розмір шрифту 20px */
    padding: 10px;            /* Внутрішній відступ 10px по всім сторонам */
	text-decoration: none;    /* Відміна підкреслення тексту (зазвичай для посилань) */
    display: block;           /* Відображення як блок-елемент */
	color: #4b4143;           /* Колір тексту */
    font-weight: bold;        /* Жирний шрифт */
}
.heading {
    text-align: center;                /* Вирівнювання тексту по центру */
    color: grey;                       /* Колір тексту - сірий */
    margin-bottom: 15px;               /* Зовнішній відступ знизу 15px */
    padding: 20px 20px;                /* Внутрішній відступ 20px зверху і знизу, 20px зліва і справа */
    background-color: rgb(171, 182, 254); /* Колір фону - світло-синій */
}
nav {
    background-color: rgb(164, 173, 195); /* Колір фону - світло-сірий */
    height: 60px;                         /* Висота елемента 50px */
}
p {
    margin: 30px; /* Внутрішній відступ 30px для всіх сторін (верхня, нижня, ліва, права) */
}
blockquote {
    margin: 30px;      /* Внутрішній відступ 30px для всіх сторін (верхня, нижня, ліва, права) */
    font-style: italic; /* Курсивний шрифт для тексту цитати */
    color: indigo;     /* Колір тексту - індиго */
}
#paintings {
    list-style: inside; /* Встановлення стандартного маркера списку всередину контейнера */
    margin: 30px;       /* Внутрішній відступ 30px для всіх сторін (верхня, нижня, ліва, права) */
}
#images {
    text-align: center; /* Вирівнювання тексту по центру */
}
.image {
    display: inline-block; /* Відображення як блок-інлайн, щоб інші елементи знаходилися поруч */
    margin: 50px 50px;     /* Зовнішній відступ 50px зверху і знизу, 50px зліва і справа */
}
div > table {				/*Це означає, що він буде визначати стилі для таблиць, які безпосередньо розташовані всередині елементів <div>, а не будь-яких інших таблиць, які можуть бути вкладені глибше.*/
    margin: auto;         /* Автоматичний розподіл відступу зліва і справа для центрування таблиці */
    margin-bottom: 30px; /* Зовнішній відступ знизу таблиці 30px */
}
table {
    width: 50%; /* Ширина таблиці - 70% від ширини її контейнера */
}
th, td {
    border: 1px solid black; /* Задання чорної рамки товщиною 1px */
}
.contacts {
    background-color: #333; /* Колір фону - темно-сірий */
    color: #fff;            /* Колір тексту - білий */
    padding: 20px;          /* Внутрішній відступ 20px з усіх сторін (верхня, нижня, ліва, права) */
    text-align: center;     /* Вирівнювання тексту по центру */
}
.contact-info {
    display: flex;             /* Встановлюємо відображення контейнера як Flexbox-контейнера */
    justify-content: space-around; /* Розподіл дочірніх елементів з рівним відступом між ними */
    margin-bottom: 10px;       /* Зовнішній відступ знизу 10px */
}